#ErrorDocument 401 /error/401.php
#ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php
#ErrorDocument 500 /error/500.php

AddDefaultCharset utf-8

#Запрещаем просмотр содержимого папки
#Options All —Indexes

#Убираем расширение файла из URL
#RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.php
